<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-0 shadow">
        <div class="card-body text-center">
          <h1 class="mb-4">Loteria Master</h1>
          <div class="d-flex justify-content-center mb-5">
            <div class="p-3 bg-danger rounded-circle" style="width: 120px; height: 120px">
              <p class="text-white">{{ number[0] }}</p>
            </div>
            <div class="p-3 bg-warning rounded-circle" style="width: 120px; height: 120px">
              <p class="text-white">{{ number[1] }}</p>
            </div>
            <div class="p-3 bg-success rounded-circle" style="width: 120px; height: 120px">
              <p class="text-white">{{ number[2] }}</p>
            </div>
            <div class="p-3 bg-danger rounded-circle" style="width: 120px; height: 120px">
              <p class="text-white">{{ number[3] }}</p>
            </div>
            <div class="p-3 bg-warning rounded-circle" style="width: 120px; height: 120px">
              <p class="text-white">{{ number[4] }}</p>
            </div>
            <div class="p-3 bg-success rounded-circle" style="width: 120px; height: 120px">
              <p class="text-white">{{ number[5] }}</p>
            </div>
          </div>
          <h3 class="mb-4">Escolha seus números da sorte</h3>
          <div class="d-flex justify-content-center mb-4">
            <input maxlength="2" [(ngModel)]="catch[0]" type="number" class="form-control border-0 rounded-pill bg-danger text-white text-center" style="width: 70px">
            <input maxlength="2" [(ngModel)]="catch[1]" type="number" class="form-control border-0 rounded-pill bg-warning text-white text-center" style="width: 70px">
            <input maxlength="2" [(ngModel)]="catch[2]" type="number" class="form-control border-0 rounded-pill bg-success text-white text-center" style="width: 70px">
            <input maxlength="2" [(ngModel)]="catch[3]" type="number" class="form-control border-0 rounded-pill bg-danger text-white text-center" style="width: 70px">
            <input maxlength="2" [(ngModel)]="catch[4]" type="number" class="form-control border-0 rounded-pill bg-warning text-white text-center" style="width: 70px">
            <input maxlength="2" [(ngModel)]="catch[5]" type="number" class="form-control border-0 rounded-pill bg-success text-white text-center" style="width: 70px">
          </div>
          <button class="btn btn-danger me-1" (click)="megaSena()">Gerar Números</button>
          <button class="btn btn-dark ms-1" (click)="reset()">Limpar</button>
          <p id="howMuch" class="hidden mt-3">
            Quantos números você acertou: <strong>{{ validation }}</strong>
          </p>
          <div>{{ error }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
